.app {
  background-color: aliceblue;
  padding: 1rem;
  // height: 100vh;
  font-family: Georgia, 'Times New Roman', Times, serif;
  display: grid;
    grid-template-areas:
    "ta ta"
    "sb vl"
    "vd vl"
;
}

.app-head {
  grid-area: ta;
  // background-color: #ddd;
  // height: 50px;
}
.search-bar {
  grid-area: sb;
  // height: 60px;
  background-color: #cff;
}

.video-list {
  grid-area: vl;
  background-color: #cff;
  display: flex;
  flex-direction: column;
}

.video-item {
  background-color: #fdf;
  width: 95%;
  min-height: 100px;
  margin: auto;
  padding: 3px;
  border: 2px solid #ccc;
  // place-self: center;
}
.video-details {
  grid-area: vd;
  background-color: #ffd;
}

.video-window {
  background-color: #eee;
  background-image: url("https://source.unsplash.com/random");
  min-height: 400px;
  min-width: 600px;
  margin: 1rem;
  padding: 2rem;
}
.video-list h1 {
  margin: 1rem;
  font-size: 14;
}
.video-description {
  background-color: #fff;
  border: 2px solid #ccc;
  margin: 1rem;
  padding: 5px;
}